.container {
	display: flex;
	flex-flow: column;
}

.posts-container {
	margin: 32px 0;

	display: flex;
	flex-flow: column;
	gap: 32px;

	padding: 0;
}

.card {
	align-self: center;

	width: 80%;

	list-style: none;
}
